################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CAP4053_work/v17
/Assignments/Ex0 - Fundamentals of AI/Source/.vs/Fundamentals
